
.home-header {
    .hero {
        .hero-body {
            .title {
                font-size: 5vw; 
            }
            .subtitle {
                width: 60%;
                margin:0 auto 20px auto;
                font-size: 2.6vw;
            }
    
            .title, .subtitle {
                text-align: center;
                font-family: 'Rozha One', serif;
                font-weight: 300;
            }
        }
    }

    .has-text-primary {
       color: $Highlight !important;
    }
}
