.section-area {
  position: relative;
  //overflow: hidden;
  .section-bg-text {
    position: absolute;
    z-index: -2;
    font-family: "Rozha One", serif;
    font-weight: 900;
    font-size: 6em;
    p:nth-child(2),
    p:nth-child(3) {
      margin-top: -60px;
    }
  }
}

@media (min-width: 768px) {
  .section-area {
    .section-bg-text {
      font-size: 12em;
      p:last-child, p:nth-last-child(2){
        margin-top: -100px;
      }
    }
  }
}
