.home-header {
    padding: 40px 0;
    .hero {
        .hero-body {
            .title {
                font-size: 10vw;
            }
            .subtitle {
                width: 90%;
                margin: 0 auto 20px auto;
                font-size: 6vw;
            }
            .title,
            .subtitle {
                text-align: center;
                font-family: 'Rozha One', serif;
                font-weight: 300;
            }
        }
    }
    .has-text-primary {
        color: $Highlight !important;
    }
}

@media (min-width: 544px) {
    .home-header {
        .hero {
            .hero-body {
                .title {
                    font-size: 8vw;
                }
                .subtitle {
                    width: 70%;
                    font-size: 4vw;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .home-header {
        .hero {
            .hero-body {
                .title {
                    font-size: 5vw;
                }
                .subtitle {
                    width: 50%;
                    margin: 0 auto 20px auto;
                    font-size: 2.5vw;
                }
            }
        }
    }
}

.bg-section-color-blue {
    padding-top: 40px;
    background: $main;
    z-index: -1;
}

.color-white {
    color: #fff;
}

.title {
    font-family: 'Rozha One', serif;
    font-weight: 300;
}

.top-line {
    border: 1px #fff solid;
    margin: 0 auto 15px auto;
    width: 50px;
}

.footer {
    background: $Highlight !important;
}

.bgtextSection {
    color: $textBg;
}

.section-area {
    position: relative;
    .section-bg-text {
        position: absolute;
        left: 80px;
        top: 80px;
        z-index: -2;
        font-family: 'Rozha One', serif;
        font-weight: 300;
        font-size: 12em;
        p:last-child {
            margin-top: -100px;
        }
    }
    .row-m {
        margin: 60px 0 100px 0;
    }
    .what-ido-div {
        margin: 40px 0 0 0;
        h3,
        p {
            color: #fff;
            font-family: 'Barlow', sans-serif;
        }
        h3 {
            font-weight: 600;
            font-size: 1.5em;
            margin-bottom: 30px;
        }
        p {
            font-size: 1.3em;
        }
    }
}