@import url("https://fonts.googleapis.com/css?family=Barlow:400,600,800|Rozha+One");
html, body {
  height: 100%; }

body {
  color: #2E3C40; }

.button {
  border-radius: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 1em; }
  .button.p-5 {
    padding: 20px 35px; }
  .button.is-primary {
    background-color: #40D59F !important; }
  .button.is-light {
    background-color: #F7F7F6; }

.navbar-main {
  background-color: #00335d;
  padding: .50em 0; }
  .navbar-main .navbar-item, .navbar-main .burger {
    color: #40D59F;
    font-size: 1.3em;
    font-family: 'Barlow', sans-serif;
    font-weight: 600; }
    .navbar-main .navbar-item:hover, .navbar-main .burger:hover {
      color: white;
      background-color: #00335d; }
  .navbar-main .navbar-menu {
    background-color: #00335d; }
    .navbar-main .navbar-menuis-active {
      background-color: #00335d; }
  .navbar-main .logo {
    padding-top: 5px;
    padding-left: 15px; }

.section-area {
  position: relative; }
  .section-area .section-bg-text {
    position: absolute;
    z-index: -2;
    font-family: 'Rozha One', serif;
    font-weight: 300;
    font-size: 9em; }
    .section-area .section-bg-text p:last-child {
      margin-top: -100px; }

@media (min-width: 768px) {
  .section-area .section-bg-text {
    font-size: 12em; }
    .section-area .section-bg-text p:last-child {
      margin-top: -100px; } }

.home-header {
  padding: 40px 0; }
  .home-header .hero .hero-body .title {
    font-size: 10vw; }
  .home-header .hero .hero-body .subtitle {
    width: 90%;
    margin: 0 auto 20px auto;
    font-size: 6vw; }
  .home-header .hero .hero-body .title,
  .home-header .hero .hero-body .subtitle {
    text-align: center;
    font-family: 'Rozha One', serif;
    font-weight: 300; }
  .home-header .has-text-primary {
    color: #40D59F !important; }

@media (min-width: 544px) {
  .home-header .hero .hero-body .title {
    font-size: 8vw; }
  .home-header .hero .hero-body .subtitle {
    width: 70%;
    font-size: 4vw; } }

@media (min-width: 768px) {
  .home-header .hero .hero-body .title {
    font-size: 5vw; }
  .home-header .hero .hero-body .subtitle {
    width: 50%;
    margin: 0 auto 20px auto;
    font-size: 2.5vw; } }

.bg-section-color-blue {
  padding-top: 40px;
  background: #00335d;
  z-index: -1; }

.color-white {
  color: #fff; }

.color-regular {
  color: #2E3C40; }

.title {
  font-family: 'Rozha One', serif;
  font-weight: 300; }

.top-line {
  border: 1px #fff solid;
  margin: 0 auto 15px auto;
  width: 50px; }
  .top-line.top-primary {
    border: 1px #40D59F solid; }

.footer {
  background: #40D59F !important; }

.bgtextSection {
  color: #05233C;
  left: 30px;
  top: 80px; }

.bgtextSectionProject {
  color: #F3F4F5;
  left: 30px;
  top: 100px; }

@media (min-width: 768px) {
  .section-area .bgtextSectionProject {
    left: 30px;
    top: 110px; }
    .section-area .bgtextSectionProject p:last-child {
      margin-top: -100px; } }

.section-area .row-m {
  margin: 60px 0 100px 0; }

.section-area .what-ido-div {
  margin: 40px 0 0 0; }
  .section-area .what-ido-div h3,
  .section-area .what-ido-div p {
    color: #fff;
    font-family: 'Barlow', sans-serif; }
  .section-area .what-ido-div h3 {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 30px; }
  .section-area .what-ido-div p {
    font-size: 1.3em; }

.section-area .row-m {
  margin: 100px 0 100px 0; }

.section-area .how-do-div h3, .section-area .how-do-div h4,
.section-area .how-do-div p {
  color: #2E3C40;
  font-family: 'Barlow', sans-serif; }

.section-area .how-do-div h3 {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 10px; }

.section-area .how-do-div p, .section-area .how-do-div .do-tch {
  font-size: 1.3em; }

.section-area .how-do-div p {
  margin-left: 20px; }

.section-area .how-do-div .do-tch {
  color: #40D59F; }
