@import url("https://fonts.googleapis.com/css?family=Barlow:400,600,800|Rozha+One");
body {
  color: #2E3C40; }

.button {
  border-radius: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 1em; }
  .button.p-5 {
    padding: 20px 35px; }
  .button.is-primary {
    background-color: #40D59F !important; }
  .button.is-light {
    background-color: #F7F7F6; }

.navbar-main {
  background-color: #00335d;
  padding: .50em 0; }
  .navbar-main .navbar-item, .navbar-main .burger {
    color: #40D59F;
    font-size: 1.3em;
    font-family: 'Barlow', sans-serif;
    font-weight: 600; }
    .navbar-main .navbar-item:hover, .navbar-main .burger:hover {
      color: white;
      background-color: #00335d; }
  .navbar-main .navbar-menu {
    background-color: #00335d; }
    .navbar-main .navbar-menuis-active {
      background-color: #00335d; }

.home-header .hero .hero-body .title {
  font-size: 10vw; }

.home-header .hero .hero-body .subtitle {
  width: 85%;
  margin: 0 auto;
  font-size: 5vw; }

.home-header .hero .hero-body .title, .home-header .hero .hero-body .subtitle {
  text-align: center;
  font-family: 'Rozha One', serif;
  font-weight: 300; }

.display-flex {
  align-content: center;
  display: flex;
  width: 60%;
  margin: 40px auto 0 auto; }

@media (min-width: 1200px) {
  .home-header .hero .hero-body .title {
    font-size: 7vw; }
  .home-header .hero .hero-body .subtitle {
    width: 60%;
    font-size: 2.8vw; }
  .display-flex {
    width: 30%; } }

@media (min-width: 1800px) {
  .home-header .hero .hero-body .title {
    font-size: 5vw; }
  .home-header .hero .hero-body .subtitle {
    font-size: 2vw; } }
